@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Grith';
    src: url('/Grith-gw3z1.otf');
}

@font-face {
    font-family: 'Sagewold';
    src: url('/Sageworld-ZpwvJ.ttf');
}

@font-face {
    font-family: 'Thernaly';
    src: url('/Thernaly-YqjWv.ttf');
}

@font-face {
    font-family: 'Paradose';
    src: url('/WsParadoseRegular.ttf')format('truetype');
}

.smallbutton {
    display: flex;
    cursor: pointer;
    width: 4.5rem;
    height: 2rem;
    border-width: 2px;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.bigbutton {
    display: flex;
    cursor: pointer;
    width: 5.2rem;
    height: 2rem;
    border-width: 2px;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.hiddenmenu {
    display: flex;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    border-bottom: 6px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.projecttitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    width: 12em;
    height: 3em;
}

.worktitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    width: 12em;
    height: 2em;
}

.projectimage {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    height: 10em;
    width: 18em;
}

.imagesize {
    display: flex;
    flex-direction: column;
    width: 'full';
    height: 16em;
    align-items: center;
    cursor: pointer;
}

.paradose {
    font-family: 'Paradose', sans-serif;
    color: #5C5C5C;
}

.grith {
    font-family: 'Grith', sans-serif;
    
}

.sageworld {
    font-family: 'Sageworld', sans-serif;
    
}

.thernaly {
    font-family: 'Thernaly', sans-serif;
    
}

/* Hamburger Menu */
.line {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #048A81;
    border-radius: 8px;
}
.line.line-1 {
    width: 50%;
}
.line.line-3 {
    width: 75%;
}