@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Grith';
    src: url('/Grith-gw3z1.otf');
}

@font-face {
    font-family: 'Sagewold';
    src: url('/Sageworld-ZpwvJ.ttf');
}

@font-face {
    font-family: 'Thernaly';
    src: url('/Thernaly-YqjWv.ttf');
}

@font-face {
    font-family: 'Paradose';
    src: url('/WsParadoseRegular.ttf')format('truetype');
}

/* Start of Target SVG animation */
.target-animated-svg path,
.target-animated-svg polyline {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: draw 4s forwards;
    fill-opacity: 0;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillFade {
    from {
        fill: #CC0000;
        fill-opacity: 0;
    }
    to {
        fill: #CC0000;
        fill-opacity: 1;
    }
}

.target-animated-svg path,
.target-animated-svg polyline {
    animation: 
        draw 4s forwards,
        fillFade 1s ease 4s forwards;
}
/* End of Target SVG animation */

/* Start of E2open SVG animation */
.e2-animated-svg path,
.e2-animated-svg polyline {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: draw2 4s forwards;
    fill-opacity: 0;
}

@keyframes draw2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillFade2 {
    from {
        fill: #282828;
        fill-opacity: 0;
    }
    to {
        fill: #282828;
        fill-opacity: 1;
    }
}

.e2-animated-svg path,
.e2-animated-svg polyline {
    animation: 
        draw2 4s forwards,
        fillFade2 1s ease 4s forwards;
}
/* End of E2open SVG animation */

/* Start of GFS SVG animation */
.GFS-animated-svg path,
.GFS-animated-svg polyline {
    stroke-dasharray: 1700;
    stroke-dashoffset: 1700;
    animation: draw3 4s forwards;
    fill-opacity: 0;
}

@keyframes draw3 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fillFade3 {
    from {
        fill: #282828;
        fill-opacity: 0;
    }
    to {
        fill: #282828;
        fill-opacity: 0;
    }
}

.GFS-animated-svg path,
.GFS-animated-svg g {
    animation: 
        draw3 4s forwards,
        fillFade3 1s ease 4s forwards;
}
/* End of GFS SVG animation */

.smallbutton {
    display: flex;
    cursor: pointer;
    width: 4.5rem;
    height: 2rem;
    border-width: 2px;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.bigbutton {
    display: flex;
    cursor: pointer;
    width: 5.2rem;
    height: 2rem;
    border-width: 2px;
    border-radius: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.hiddenmenu {
    display: flex;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    border-bottom: 6px;
    border-radius: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-color: #5C5C5C;
    align-items: center;
    justify-content: center;
}

.projecttitle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    width: 12em;
    height: 3em;
}

.projectimage {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    height: 10em;
    width: 18em;
}

.imagesize {
    display: flex;
    flex-direction: column;
    width: 'full';
    height: 16em;
    align-items: center;
    cursor: pointer;
}

.paradose {
    font-family: 'Paradose', sans-serif;
    color: #5C5C5C;
}

.grith {
    font-family: 'Grith', sans-serif;
    
}

.sageworld {
    font-family: 'Sageworld', sans-serif;
    
}

.thernaly {
    font-family: 'Thernaly', sans-serif;
    
}

/* Hamburger Menu */
.line {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #048A81;
    border-radius: 8px;
}
.line.line-1 {
    width: 50%;
}
.line.line-3 {
    width: 75%;
}