@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Grith';
    src: url('/Grith-gw3z1.otf');
}

@font-face {
    font-family: 'Sagewold';
    src: url('/Sageworld-ZpwvJ.ttf');
}

@font-face {
    font-family: 'Thernaly';
    src: url('/Thernaly-YqjWv.ttf');
}

@font-face {
    font-family: 'Paradose';
    src: url('/WsParadoseRegular.ttf')format('truetype');
}
.paradose {
    font-family: 'Paradose', sans-serif;
    color: #5C5C5C;
}

.grith {
    font-family: 'Grith', sans-serif;
    
}

.sageworld {
    font-family: 'Sageworld', sans-serif;
    
}

.thernaly {
    font-family: 'Thernaly', sans-serif;
    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 0.13em;
    border-color: #5C5C5C;
    color: #5C5C5C;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 0.7em;
    width: 4.5em;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

/* Hamburger Menu */
.line {
    display: block;
    width: 30px;
    height: 4px;
    margin: 5px 0;
    background-color: #048A81;
    border-radius: 8px;
}
.line.line-1 {
    width: 50%;
}
.line.line-3 {
    width: 75%;
}